Description=Gunicorn application server running AirBnB_clone_v4"
After=network.target

User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/path/to/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

WantedBy=multi-user.target